$color-orange: #f1592a;
$color-red: #e11b22;
$color-grey: #2d2927;

@mixin fullscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin gradient-mask($color: $color-orange) {
	&:before {
    content: "";
    background-color: transparent;
    position: absolute;
    background-image: linear-gradient(to left, rgba($color, 0) 0%, rgba($color,1) 100%);
    pointer-events: none;
    bottom: 0;
    top:0;
    left: 0;
    height: 100%;
    width: 200px;
    z-index: 5;
    transition: height 0.3s ease;

  }
}

@keyframes sidescroll {
	from { transform: translateX(30%)}
	to { transform: translateX(-100%)}
}

@keyframes sidescroll-large {
	from { transform: translateX(50%);}
	to { transform: translateX(-100%);}
}

* {
	box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


.slide {
	@include fullscreen;
}



.background {
	@include fullscreen;
	opacity: 0;
	transition: opacity 1s ease;
	&.orange {
		background: $color-orange;
	}
	&.red {
		background: $color-red;
	}
	&.active {
		transition: opacity 1s ease;
		opacity: 1;
	}
}

.big-text {
	position:absolute;
	width: auto;
	animation: sidescroll-large 25s linear infinite;
	h1{
		
		font-family: "museo-slab";
		font-size: 100vh;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		line-height: 1;
		
		.active & {
			//animation: sidescroll-large 25s linear infinite;
		}
	}
	
}


.footer {
	@include fullscreen;
	top:auto;
	left:0;
	height: 40vh;
	padding-bottom:50px;
	display: flex;
	align-items: flex-end;
}

svg{
	width:100%;
	max-width: 100%;
}

.logo {
	width: 300px;
	padding: 30px;
	padding-left: 50px;
	background: $color-grey;
	border-radius: 0 20px 20px 0;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5)
}

.scrolling-text {
	position: relative;
	flex: 1;
	overflow: hidden;
	height: 100%;
	padding-top: 10vh;
	//@include gradient-mask();
	
	div {
		white-space: nowrap;
		position:absolute;
		width: auto;
	}
	
	p {
		color: #fff;
		font-size: 3.5em;
		line-height: 1.2;
		font-weight: 400;
		animation: sidescroll 30s linear infinite;
	}
}